body {
    background-color: #263238;
}

table {
    margin: 0 auto;
    width: 400px;
    height: 800px;
}

td {
    background-color: #455A64;
    width: 10%;
    height: 5%;
}

.default {
    background-color: #455A64;
}

.imino {
    background-color: #03A9F4;
}

.omino {
    background-color: #f4ec03;
}

.smino {
    background-color: #57f403;
}

.zmino {
    background-color: #f41303;
}

.jmino {
    background-color: #0327f4;
}

.lmino {
    background-color: #f48c03;
}

.tmino {
    background-color: #6f03f4;
}

